{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Calendar</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}">
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
    </head>
    <div id="sideBar" class="sideBar">
        <nav>
                <a href="/home">Home</a>
                <a href="/groups">Groups</a>
                <a href="/messages">Messages</a>
                <a href="/notifications">Notifications</a>
                <a href="/faq">FAQs</a>
                <a href="/settings">Settings</a>
        </nav>
    </div>
    <div id="main" class="main">
        <body>
            <header>
                <h1>Under Construction</h1>
            </header>
        </body>
    </div>
</html>