<!DOCTYPE html>
<html>
    <head>
        <title>Flash Friends - Home</title>
    </head>
    <body>
        <header>
            <h1>Under Construction</h1>
            <nav>
                <ul>
                    <li><a href="/groups">Groups</a></li>
                    <li><a href="/messages">Messages</a></li>
                    <li><a href="/notifications">Notifications</a></li>
                    <li><a href="/calendar">Calendar</a></li>
                    <li><a href="/faq">FAQs</a></li>
                    <li><a href="/settings">Settings</a></li>
                    <li><a href="/createAccount">Create Account</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/index">Index</a></li>
                </ul>
            </nav>
        </header>
        
    </body>
</html>