<!DOCTYPE html>
<html>
    <head>
        <title>Notifications</title>
    </head>
    <body>
        <header>
            <h1>Under Construction</h1>
            <nav>
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/groups">Groups</a></li>
                    <li><a href="/messages">Messages</a></li>
                    <li><a href="/calendar">Calendar</a></li>
                    <li><a href="/faq">FAQs</a></li>
                    <li><a href="/settings">Settings</a></li>
                </ul>
            </nav>
        </header>
    </body>
</html>