.sideBar{
    height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  top: 11%;
  left: 0;
  background-color:  #000080;
  overflow-x: hidden;
  padding-top: 1.5%;
  border: solid black;
  border-left: none;
  border-top: solid black (0,0%,0%,1);
}
.sideBar a{
    padding: 10% 10% 10% 20%;
    text-decoration: none;
    font-size: 1.25vw;
    color: #ffd633;
    display: block;
}
.sideBar a:hover{
    transition: 0.5s;
    background-color:#d9d9d9;
    color: black;
}
.main{
    margin-left: 10%;
    
}

.notHeader{
    position: fixed;
    top: 20%;
}
h1{
    position: relative;
    font-size: 3vw;
    top: -7%;
    color:black;
    padding-bottom: 0px;
    border-bottom: solid black;
}

h2{
   font-size:2.5vw;
}
h3{
    font-size:2.5vw;
}
h4{
    font-size:2.5vw;
}